name: BasicLayoutsCodelab

on:
  push:
    branches:
      - main
    paths:
      - 'BasicLayoutsCodelab/**'
      - '.github/workflows/BasicLayoutsCodelab.yaml'
  pull_request:
    paths:
      - 'BasicLayoutsCodelab/**'
      - '.github/workflows/BasicLayoutsCodelab.yaml'

env:
  SAMPLE_PATH: BasicLayoutsCodelab

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: gradle/actions/setup-gradle@v4

      - name: Build project
        working-directory: ${{ env.SAMPLE_PATH }}
        run: ./gradlew assembleDebug lintDebug --stacktrace

      - name: Upload build outputs (APKs)
        uses: actions/upload-artifact@v4
        with:
          name: build-outputs
          path: ${{ env.SAMPLE_PATH }}/app/build/outputs

      - name: Upload build reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build-reports
          path: ${{ env.SAMPLE_PATH }}/app/build/reports